In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

In [3]:
data=pd.read_csv('train_monster.csv')

In [5]:
data.head()

   id  bone_length  rotting_flesh  hair_length  has_soul  color    type
0   0     0.354512       0.350839     0.465761  0.781142  clear   Ghoul
1   1     0.575560       0.425868     0.531401  0.439899  green  Goblin
2   2     0.467875       0.354330     0.811616  0.791225  black   Ghoul
3   4     0.776652       0.508723     0.636766  0.884464  black   Ghoul
4   5     0.566117       0.875862     0.418594  0.636438  green   Ghost

In [189]:
data.shape

(371, 7)

In [190]:
data.isnull().sum()

id               0
bone_length      0
rotting_flesh    0
hair_length      0
has_soul         0
color            0
type             0
dtype: int64

In [191]:
data.dtypes

id                 int64
bone_length      float64
rotting_flesh    float64
hair_length      float64
has_soul         float64
color             object
type              object
dtype: object

In [192]:
data.select_dtypes(include=['object']).nunique()

color    6
type     3
dtype: int64

In [193]:
data.drop('id',axis=1,inplace=True)

In [194]:
data=pd.get_dummies(data,columns=['color'],drop_first=True)

In [195]:
data.head()

,bone_length,rotting_flesh,hair_length,has_soul,type,color_blood,color_blue,color_clear,color_green,color_white
0,0.354512,0.350839,0.465761,0.781142,Ghoul,0,0,1,0,0
1,0.575560,0.425868,0.531401,0.439899,Goblin,0,0,0,1,0
2,0.467875,0.354330,0.811616,0.791225,Ghoul,0,0,0,0,0
3,0.776652,0.508723,0.636766,0.884464,Ghoul,0,0,0,0,0
4,0.566117,0.875862,0.418594,0.636438,Ghost,0,0,0,1,0

In [196]:
x=data.drop('type', axis=1)
y=data['type']

In [197]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=101)

In [198]:
from sklearn import linear_model

model = linear_model.LogisticRegression(multi_class='auto')

In [199]:
model.fit(x_train,y_train)

C:\Users\KIIT\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='auto',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [200]:
train_accuracy = model.score(x_train, y_train)
print('Train-set accuracy \t: ', train_accuracy)

test_accuracy = model.score(x_test, y_test)
print('Test-set accuracy \t: ', test_accuracy)

Train-set accuracy 	:  0.7580645161290323
Test-set accuracy 	:  0.7154471544715447

In [185]:
from sklearn.ensemble import RandomForestClassifier

m=RandomForestClassifier(n_estimators=1000,min_samples_leaf=10)

m.fit(x_train,y_train)
print(m.score(x_train,y_train))
print(m.score(x_test,y_test))

0.8387096774193549
0.6747967479674797